/* GENERAL */

/* adaptive calc:
  if:
    (x - xmin) / (xmax - xmin) = (y - ymin) / (ymax - ymin), y = ?;
  then:
    y = ((x - xmin) / (xmax - xmin)) * (ymax - ymin) + ymin;

  calc(((100vw - min vw) / (max vw - min vw)) * (max el - min el) + min el) */

:root {
    --vw-max: 2560;
    --vw-min: 320; 
    --vw-diff: calc(var(--vw-max) - var(--vw-min));
    --vw-ratio: calc(100vw - var(--vw-min)*1px) / var(--vw-diff);

    --text-max: 22;
    --text-min: 14;
    --text-diff: calc(var(--text-max) - var(--text-min));
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: monospace, monospace;
    font-size: calc(var(--vw-ratio) * var(--text-diff) + var(--text-min)*1px);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 1.7rem;
    margin: 0.67em 0;
}

section {
    margin-top: -5em;
    margin-bottom: 1em;
}

h2 {
    padding-top: 5em;
    padding-bottom: 0.7em;
    font-size: 1.4rem;
}

h3 {
    padding-top: 5em;
    font-size: 1.2rem;
}

:target {
    margin-left: -0.2em;
    text-shadow: 0.2em 0.4em 0.2em #c0c0c0;
}

h2,
h3
:target {
    transition-property: margin-left, text-shadow;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
}

ul {
    list-style-type: none;
}

li li {
    padding-left: 2em;
}

li:not(:last-of-type) li:last-of-type {
    padding-bottom: 1em;
}

a {
    color: #3a3a3a;
    background-color: transparent;
}

a:hover,
a:focus,
a:active {
    color: #6b6b6b;
}

img {
    border-style: none;
}

/* HEADER */

header {
    z-index: 10;
    padding: 0 0 3%;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

nav {
    padding: 1% 0;
    width: 100%;
    background-color: #fbfbfb;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
}

nav ul {
    margin-inline: auto;
    padding-left: -2%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav li {
    padding: 0.25em 0.5em;
}

/* MAIN */

main {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
    display: block;
}

.grid {
    display: grid;
    grid-template-areas:
    "about hards"
    "conts softs"
    "conts langs"
    "projs langs"
    "examp examp"
    "exprs educs"
    "exprs cours";
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 10%;
}

.about {
    grid-area: about;
}

.about img {
    max-width: 250px;
    width: 60%;
    border-radius: 0.5em;
}

.about p {
    margin-top: 1em;
}

.contacts {
    grid-area: conts;
}

.hards {
    grid-area: hards;
}

.softs {
    grid-area: softs;
}

.langs {
    grid-area: langs;
}

:is(.softs, .langs) li {
    list-style-type: '- ';
}

.projects {
    grid-area: projs;
}

.example {
    grid-area: examp;
}

.accordion {
    position: relative;
    z-index: 1;

    margin-top: 1em;
    margin-inline: -2%;
    width: 100%;
    height: fit-content;
    padding: 2%;

    border-radius: calc(var(--text-min)*1px);
    background-color: #e1e1e1;
    cursor: pointer;
}

.hint {
    position: absolute;
    right: 3%;
    top: 0;
    margin-top: -1em;
    padding-top: 0.3em;
    padding-inline: 1em;

    border-radius: 1em;
    font-size: 0.7em;
    font-style: italic;
    background-color: #ebebeb;
}

#tap {
    display: none;
}

#hide {
    display: none;
}

code {
    display: block;
    max-height: 0;
    white-space: pre-wrap;
    font-family: monospace, monospace;
    font-size: 1em;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.courses {
    grid-area: cours;
}

.education {
    grid-area: educs;
}

.experience {
    grid-area: exprs;
}

:is(.experience, .education) span {
    display: block;
}

:is(.experience, .education) span + span {
    padding-left: 1.25em;
    padding-bottom: 1em;
}

/* FOOTER */

footer {
    padding: 5% 0 0;
    overflow-x: hidden;
}

footer div {
    padding: 2% 0;
    width: 100%;
    background-color: #fbfbfb;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
}

footer ul {
    margin-inline: auto;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

footer li {
    padding-right: 25px;
    list-style: none;
}

footer img {
    height: 2em;
}

@media screen and (max-width: 580px) {
    .grid {
        grid-template-areas:
        "about"
        "conts"
        "hards"
        "softs"
        "langs"
        "projs"
        "examp"
        "educs"
        "cours"
        "exprs";
        grid-template-columns: 1fr;
    }
}

@media (pointer:coarse) {
    #click {
        display: none;
    }
    
    #tap {
        display: inline;
    }
}